<link rel="stylesheet" href="/assets/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="site-footer">
  <div class="container ">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p class="text-justify" id="motive">
          Hobby Matcher is a place to find and connect People with their Matching hobbies
          to Grow people and persue their Dreams in their interested field
        </p>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 footer-col">
        <ul class="footer-links">
          <h6>
            <li><a class="footera" href="#">About Us</a></li>
          </h6>
        </ul>
      </div>
      <div class=" footer-col col-xs-3 col-sm-3 col-md-3">
        <ul class="footer-links">
          <h6>
            <li><a class="footera" href="#">Contact Us</a></li>
          </h6>
        </ul>

      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row pb-1">
      <div class="col">
        <ul class="social-icons">
          <li>
            <a target="_blank" class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a target="_blank" class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li>
            <a target="_blank" class="dribbble" href="#"><i class="fa fa-instagram"></i></a>
          </li>
          <li><a target="_blank" class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
